html,
body {
  background-color: #000000 !important;
  scroll-behavior: smooth;
}

body {
  padding-top: 43px;
}

h1,
h2 {
  text-shadow: 2px 2px 0 #461580 !important;
  color: #20a0a1 !important;
  margin-top: 5px;
  margin-bottom: 0;
}

.menu-anchor {
  position: relative;
  bottom: 78px;
  left: 0;
  right: 0;
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-root.MuiPopover-paper {
  border-radius: 0;
}

.MuiContainer-root > h1 {
  margin-top: 30px;
}

.MuiCard-root {
  background-color: #9b9ba3 !important;
  box-shadow: 4px 4px 0 #008081 !important;
  border-radius: 0 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.MuiToolbar-root {
  min-height: auto !important;
}
