html,
body {
  background-color: #000000 !important;
  scroll-behavior: smooth;
}

h1,
h2 {
  text-shadow: 2px 2px 0 #461580 !important;
  color: #20a0a1 !important;
  margin-top: 5px;
  margin-bottom: 0;
}

#nav-about,
#nav-contact,
#nav-education,
#nav-projects,
#nav-skills {
  margin-bottom: 35px;
}

.MuiCard-root {
  background-color: #9b9ba3 !important;
  box-shadow: 4px 4px 0 #008081 !important;
  border-radius: 0 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

@media (min-width: 600px) {
  .css-r6ewbb-MuiToolbar-root {
    min-height: auto !important;
  }
}
