footer {
  background-color: #180350;
  color: #efefef;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  margin-top: 45px;
}

footer ul {
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

footer p {
  margin: 0;
}
