#skills-card .MuiCardContent-root {
  background-color: #262837;
}

.skillbar {
  margin-bottom: 5px;
  overflow: hidden;
}

.skillbar:last-child {
  margin-bottom: 0;
}

.skillbar-title {
  width: 150px;
}

.skillbar-bar {
  left: 150px;
}

.skillbar-title,
.skillbar-bar {
  border-radius: 0;
}

.skillbar-title span {
  padding: 0 10px;
  border-radius: 0;
}

.skillbar-percent {
  position: relative;
  left: 160px;
  top: -2px;
  display: inline-block;
  font-family: "Exo 2", sans-serif !important;
}
